.empty-orders-main-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
  width: 100%;
  padding: 5% 10px 10% 0px;
}

.empty-orders-inner-container {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  gap: 6px;
}

.empty-orders-vector-item {
  width: 169px;
  height: 113px;
}

.empty-order-message-header {
  text-align: center;
  color: #333333;
  font-size: 20px;
  font-weight: 1000;
  line-height: 32px;
  word-wrap: break-word;
}

.empty-orders-message-container {
  height: 48px;
  padding-left: 35.55px;
  padding-right: 35.55px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.empty-orders-message-text {
  text-align: center;
  color: #858585;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
