<div class="empty-orders-main-container">
    <div class="empty-orders-inner-container">
        <div class="empty-orders-vector-item">
            <img src="images/empty-orders-vector-item.svg" alt="empty-orders-vector-item">
        </div>
    </div>

    <div class="empty-orders-message-container">
        <div class="empty-order-message-header"> {{header}}</div>
        <div class="empty-orders-message-text">
            {{content}} <br/>будут отображаться на этой странице.
        </div>
    </div>
</div>
