<div class="empty-orders-main-container">
    <div class="empty-orders-inner-container">
        <div class="empty-orders-vector-item">
            <svg width="169" height="113" viewBox="0 0 169 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M166.13 60.6406H2.13C1.02544 60.6406 0.130005 61.5361 0.130005 62.6406V110.641C0.130005 111.745 1.02544 112.641 2.13 112.641H166.13C167.235 112.641 168.13 111.745 168.13 110.641V62.6406C168.13 61.5361 167.235 60.6406 166.13 60.6406Z" fill="black"/>
                <path d="M166.13 60.6406H2.13C1.02544 60.6406 0.130005 61.5361 0.130005 62.6406V110.641C0.130005 111.745 1.02544 112.641 2.13 112.641H166.13C167.235 112.641 168.13 111.745 168.13 110.641V62.6406C168.13 61.5361 167.235 60.6406 166.13 60.6406Z" fill="white"/>
                <mask id="mask0_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="60" width="169" height="53">
                <path d="M166.13 60.6406H2.13C1.02544 60.6406 0.130005 61.5361 0.130005 62.6406V110.641C0.130005 111.745 1.02544 112.641 2.13 112.641H166.13C167.235 112.641 168.13 111.745 168.13 110.641V62.6406C168.13 61.5361 167.235 60.6406 166.13 60.6406Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_3385_3059)">
                <path d="M52.13 60.6406H0.130005V112.641H52.13V60.6406Z" fill="#EBEBEB"/>
                </g>
                <mask id="mask1_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="60" width="169" height="53">
                <path d="M166.13 60.6406H2.13C1.02544 60.6406 0.130005 61.5361 0.130005 62.6406V110.641C0.130005 111.745 1.02544 112.641 2.13 112.641H166.13C167.235 112.641 168.13 111.745 168.13 110.641V62.6406C168.13 61.5361 167.235 60.6406 166.13 60.6406Z" fill="white"/>
                </mask>
                <g mask="url(#mask1_3385_3059)">
                <path d="M150.13 78.6406H62.13V84.6406H150.13V78.6406Z" fill="#EBEBEB"/>
                </g>
                <mask id="mask2_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="60" width="169" height="53">
                <path d="M166.13 60.6406H2.13C1.02544 60.6406 0.130005 61.5361 0.130005 62.6406V110.641C0.130005 111.745 1.02544 112.641 2.13 112.641H166.13C167.235 112.641 168.13 111.745 168.13 110.641V62.6406C168.13 61.5361 167.235 60.6406 166.13 60.6406Z" fill="white"/>
                </mask>
                <g mask="url(#mask2_3385_3059)">
                <path d="M90.13 96.6406H62.13V102.641H90.13V96.6406Z" fill="#EBEBEB"/>
                </g>
                <path d="M165.63 61.1406H2.63C1.52544 61.1406 0.630005 62.0361 0.630005 63.1406V110.141C0.630005 111.245 1.52544 112.141 2.63 112.141H165.63C166.735 112.141 167.63 111.245 167.63 110.141V63.1406C167.63 62.0361 166.735 61.1406 165.63 61.1406Z" stroke="#EBEBEB"/>
                <mask id="mask3_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="60" width="169" height="53">
                <path d="M166.13 60.6406H2.13C1.02544 60.6406 0.130005 61.5361 0.130005 62.6406V110.641C0.130005 111.745 1.02544 112.641 2.13 112.641H166.13C167.235 112.641 168.13 111.745 168.13 110.641V62.6406C168.13 61.5361 167.235 60.6406 166.13 60.6406Z" fill="white"/>
                </mask>
                <g mask="url(#mask3_3385_3059)">
                <path d="M101.13 70.6406H62.13V76.6406H101.13V70.6406Z" fill="#EBEBEB"/>
                </g>
                <path d="M166.13 0.640625H2.13C1.02544 0.640625 0.130005 1.53606 0.130005 2.64062V50.6406C0.130005 51.7452 1.02544 52.6406 2.13 52.6406H166.13C167.235 52.6406 168.13 51.7452 168.13 50.6406V2.64062C168.13 1.53606 167.235 0.640625 166.13 0.640625Z" fill="black"/>
                <path d="M166.13 0.640625H2.13C1.02544 0.640625 0.130005 1.53606 0.130005 2.64062V50.6406C0.130005 51.7452 1.02544 52.6406 2.13 52.6406H166.13C167.235 52.6406 168.13 51.7452 168.13 50.6406V2.64062C168.13 1.53606 167.235 0.640625 166.13 0.640625Z" fill="white"/>
                <mask id="mask4_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="169" height="53">
                <path d="M166.13 0.640625H2.13C1.02544 0.640625 0.130005 1.53606 0.130005 2.64062V50.6406C0.130005 51.7452 1.02544 52.6406 2.13 52.6406H166.13C167.235 52.6406 168.13 51.7452 168.13 50.6406V2.64062C168.13 1.53606 167.235 0.640625 166.13 0.640625Z" fill="white"/>
                </mask>
                <g mask="url(#mask4_3385_3059)">
                <path d="M52.13 0.640625H0.130005V52.6406H52.13V0.640625Z" fill="#EBEBEB"/>
                </g>
                <mask id="mask5_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="169" height="53">
                <path d="M166.13 0.640625H2.13C1.02544 0.640625 0.130005 1.53606 0.130005 2.64062V50.6406C0.130005 51.7452 1.02544 52.6406 2.13 52.6406H166.13C167.235 52.6406 168.13 51.7452 168.13 50.6406V2.64062C168.13 1.53606 167.235 0.640625 166.13 0.640625Z" fill="white"/>
                </mask>
                <g mask="url(#mask5_3385_3059)">
                <path d="M150.13 18.6406H62.13V24.6406H150.13V18.6406Z" fill="#EBEBEB"/>
                </g>
                <mask id="mask6_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="169" height="53">
                <path d="M166.13 0.640625H2.13C1.02544 0.640625 0.130005 1.53606 0.130005 2.64062V50.6406C0.130005 51.7452 1.02544 52.6406 2.13 52.6406H166.13C167.235 52.6406 168.13 51.7452 168.13 50.6406V2.64062C168.13 1.53606 167.235 0.640625 166.13 0.640625Z" fill="white"/>
                </mask>
                <g mask="url(#mask6_3385_3059)">
                <path d="M90.13 36.6406H62.13V42.6406H90.13V36.6406Z" fill="#EBEBEB"/>
                </g>
                <path d="M165.63 1.14062H2.63C1.52544 1.14062 0.630005 2.03606 0.630005 3.14062V50.1406C0.630005 51.2452 1.52544 52.1406 2.63 52.1406H165.63C166.735 52.1406 167.63 51.2452 167.63 50.1406V3.14062C167.63 2.03606 166.735 1.14062 165.63 1.14062Z" stroke="#EBEBEB"/>
                <mask id="mask7_3385_3059" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="169" height="53">
                <path d="M166.13 0.640625H2.13C1.02544 0.640625 0.130005 1.53606 0.130005 2.64062V50.6406C0.130005 51.7452 1.02544 52.6406 2.13 52.6406H166.13C167.235 52.6406 168.13 51.7452 168.13 50.6406V2.64062C168.13 1.53606 167.235 0.640625 166.13 0.640625Z" fill="white"/>
                </mask>
                <g mask="url(#mask7_3385_3059)">
                <path d="M101.13 10.6406H62.13V16.6406H101.13V10.6406Z" fill="#EBEBEB"/>
                </g>
            </svg>
        </div>
    </div>

    <div class="empty-orders-message-container">
        <div class="empty-order-message-header"> {{header}}</div>
        <div class="empty-orders-message-text">
            {{content}} <br/>будут отображаться на этой странице.
        </div>
    </div>
</div>
