<div class="empty-orders">
    <div class="empty-orders__inner">
        <div class="empty-orders__item">
            <img src="images/empty-orders-vector-item.svg" alt="empty-orders-vector-item">
        </div>
    </div>

    <div class="empty-orders__message">
        <div class="empty-orders__header"> {{header}}</div>
        <div class="empty-orders__text">
            {{content}} <br/>будут отображаться на этой странице.
        </div>
    </div>
</div>
