.merchant-page-content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.merchant-page-right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards-container-merchant {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 24px;
}

.cursor-hand-hover:hover {
    cursor: pointer;
}

.text-underline-hover:hover {
    text-decoration: underline;
    text-decoration-color: #7092FE;
    color: #7092FE;
}

label {
    cursor: pointer;
}

.profile-page-right-section-header {
    align-self: stretch;
    height: 32.53px;
    padding-bottom: 0.54px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;

    font-size: 24px;
    font-weight: bold;
}