<div class="merchant-page-content">
    <div class="user-card-main-div"></div>
    <div class="merchant-page-right-section">
        <div class="profile-page-right-section-header">Заголовок</div>
        <div class="merchant-page-right-section-switch"></div>
        <div class="cards-container-merchant"></div>
    </div>
</div>