<dialog class="my-dialog" id="myDialog">
    <div class="close-icon cursor-hand-hover">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </div>
    <div class="blacklist-container" id="myDiv">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="header-text">
                        <div>Внести пользователя в чёрный список?</div>
                        <div class="header-subtext">
                            <div>Пользователь не сможет писать вам в чатах и не увидит ваш номер телефона.</div>
                        </div>
                    </div>
                </div>
                <div class="modal-buttons">
                    <div class="common-button-blacklist action-button-blacklist cursor-hand-hover">
                        <div>Внести</div>
                    </div>
                    <div class="common-button-blacklist cancel-button-blacklist cursor-hand-hover">
                        <div>Отмена</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</dialog>