<dialog class="add-to-cart-dialog">
  <div class="add-to-cart-dialog__close-icon">
    <div class="add-to-cart-dialog__line add-to-cart-dialog__line--1"></div>
    <div class="add-to-cart-dialog__line add-to-cart-dialog__line--2"></div>
  </div>
  <div class="add-to-cart-dialog__container" id="myDiv">
    <div class="add-to-cart-dialog__modal">
      <div class="add-to-cart-dialog__modal-content">
        <div class="add-to-cart-dialog__modal-header">
          <div class="add-to-cart-dialog__modal-header-text">
            <div class="add-to-cart-dialog__text-to-change">Товар добавлен в корзину</div>
            <div class="add-to-cart-dialog__modal-header-subtext">
              <div>Перейти в корзину?</div>
            </div>
          </div>
        </div>
        <div class="add-to-cart-dialog__modal-buttons">
          <div class="add-to-cart-dialog__modal-buttons-button add-to-cart-dialog__modal-buttons-button--action">
            В&nbsp;корзину
          </div>
          <div class="add-to-cart-dialog__modal-buttons-button add-to-cart-dialog__modal-buttons-button--cancel">
            <div>Отмена</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
