<div class="rating__stars set-rating" data-count="{{count}}">
    <a data-id="5" class="set-star">★</a>
    <a data-id="4" class="set-star">★</a>
    <a data-id="3" class="set-star">★</a>
    <a data-id="2" class="set-star">★</a>
    <a data-id="1" class="set-star">★</a>
</div>