.auth-form {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form .form__input {
  margin: 30px 0px;
}

.auth-form .form__input input {
  width: 100%;
  height: 40px;
  padding: 15px 40px 15px 15px;
  font-size: 16px;
  border: 2px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(242, 243, 245, 1);
  border-radius: 8px;
  box-sizing: border-box;
}

.auth-form .btn-primary {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background: rgba(112, 146, 254, 1);
  border: none;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}

.btn-primary {
  &:hover {
    opacity: 0.8;
  }
}

.auth-form .btn-secondary {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.auth-form {
  width: 720px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.auth-form .auth-form__main,
.auth-form__info {
  width: 50%;
  padding: 28px 28px;
  box-sizing: border-box;
}

.auth-form .auth-form__info {
  background: rgba(249, 249, 249, 1);
  font-weight: normal;
}

.auth-form .auth-form__main {
  background: rgba(255, 255, 255, 1);
  text-align: center;
}

.auth-form .auth-form__title {
  margin: 0;
  font-size: 20px;
}

.auth-form .auth-form__suggest {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.auth-form .form__label {
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}

.auth-form .labels-group__text--secondary {
  color: rgba(109, 120, 133, 1);
}

.auth-form .labels-group__icon {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}

.auth-form .labels-group__icon .labels-group__text {
  flex-grow: 1;
  display: block;
}

.auth-form .labels-group__icon .icon {
  margin-right: 16px;
}

.auth-form .labels-group {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  list-style: none;
}

.auth-form .logo {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.auth-form .name {
  color: rgba(45, 129, 224, 1);
}

.auth-form .mt-10 {
  margin-top: 30px;
}

.auth-form .error {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.error {
  color: red;
}

@media (max-width: 800px) {
  .auth-form__info {
    display: none;
  }
  .auth-form__main {
    width: 100% !important;
  }
  .auth-form .form__input input {
    font-size: clamp(16px, 5vw, 20px);
  }
  .auth-form .btn-primary {
    font-size: clamp(16px, 5vw, 20px);
  }
}
