.profile-section {
  width: 921px;
  height: 350px;
  position: relative;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.section-heading {
  width: 180.78px;
  height: 32px;
  left: 24px;
  top: 24px;
  position: absolute;
  color: #333333;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 500;
  line-height: 32px;
  word-wrap: break-word;
}

.item-container {
  position: relative;
}

.item {
  width: 897px;
  height: 57px;
  background: white;
  border-radius: 8px;
  position: absolute;
}

.term {
  width: auto;
  height: 24px;
  left: 12px;
  top: 17px;
  position: absolute;
  color: #858585;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.details {
  position: absolute;
  left: 228px;
  top: 16px;
  color: #858585;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.profile-icon {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 12px;
}

.user-info {
  width: 89.30px;
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
  gap: 3.24px;
  display: inline-flex;
}

.username,
.name {
  width: auto;
  height: 24px;
  color: #333333;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.edit-button {
  width: auto;
  height: 24px;
  position: absolute;
  color: #7092FE;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.after {
  width: 881px;
  height: 1px;
  left: 12px;
  top: 56px;
  position: absolute;
  background: #F5F5F5;
}
