<div class="personal-data-list">
    <h3>Личные данные</h3>
    <div class="atribute-list">
        <div class="settings-block">
            <div class="settings-block__header">Профиль</div>
            <div class="settings-block__details">
                {{merchantsName}}
            </div>
            <button class="settings-block__set-or-edit-label">
                <span>Редактировать</span>
                <img src="images/right-arrow-backup-2-svgrepo-com.svg">
            </button>
        </div>
        <div class="settings-block">
            <div class="settings-block__header">Телефон</div>
                {{#if (is_null phone)}}
                    <div class="settings-block__hint">
                        Укажите номер телефона, по которому с вами смогут связаться покупатели
                    </div>
                    <button class="settings-block__set-or-edit-label">
                        <span>Указать</span>
                        <img src="images/right-arrow-backup-2-svgrepo-com.svg">
                    </button>
                {{^}}
                    <div class="settings-block__details">
                        {{phone}}
                    </div>
                    <button class="settings-block__set-or-edit-label">
                        <span>Редактировать</span>
                        <img src="images/right-arrow-backup-2-svgrepo-com.svg">
                    </button>
                {{/if}}
        </div>
        <div class="settings-block">
            <div class="settings-block__header">E-mail</div>
            <div class="settings-block__details">
                {{email}}
            </div>
            <button class="settings-block__set-or-edit-label">
                <span>Редактировать</span>
                <img src="images/right-arrow-backup-2-svgrepo-com.svg">
            </button>
        </div>
        <div class="settings-block">
            <div class="settings-block__header">Город</div>
                {{#if (is_null city)}}
                    <div class="settings-block__hint">
                        Не указано
                    </div>
                    <button class="settings-block__set-or-edit-label">
                        <span>Указать</span>
                        <img src="images/right-arrow-backup-2-svgrepo-com.svg">
                    </button>
                {{^}}
                    <div class="settings-block__details">
                        {{city}}
                    </div>
                    <button class="settings-block__set-or-edit-label">
                        <span>Редактировать</span>
                        <img src="images/right-arrow-backup-2-svgrepo-com.svg">
                    </button>
                {{/if}}
        </div>
    </div>
</div>
