<div class="profile-section">
  <div class="section-heading">Личные данные</div>
  <div class="item-container">
    <div class="item">
      <div class="term">Профиль</div>
      <div class="details">
        <img class="profile-icon" src="https://via.placeholder.com/24x24" />
        <div class="user-info">
          <div class="username">User</div>
          <div class="name">Name</div>
        </div>
      </div>
      <div class="edit-button">Редактировать</div>
    </div>
    <div class="after"></div>
  </div>
  <div class="item-container">
    <div class="item">
      <div class="term">Телефон</div>
      <div class="details">Укажите номер телефона, по которому покупатели смогут с вами связаться</div>
      <div class="edit-button">Указать</div>
    </div>
    <div class="after"></div>
  </div>
  <div class="item-container">
    <div class="item">
      <div class="term">E-mail</div>
      <div class="details">
        <div class="email">someemail@mail.com</div>
      </div>
      <div class="edit-button">Редактировать</div>
    </div>
    <div class="after"></div>
  </div>
  <div class="item-container">
    <div class="item">
      <div class="term">Город</div>
      <div class="details">Не указано</div>
      <div class="edit-button">Указать</div>
    </div>
    <div class="after"></div>
  </div>
</div>
