<div class="personal-data-list">
  <div class="personal-data-heading">Личные данные</div>
  <div class="atribute-list">
    <div class="DescriptionsItem">
      <div class="DescriptionsTerm">Профиль</div>
      <div class="DescriptionsDetails">
        <img class="B40d90b09f74cfc5244da1Jpg" src="https://via.placeholder.com/24x24" />
        <div class="PScCoxwqc">
          <div class="User">User</div>
          <div class="Name">Name</div>
        </div>
      </div>
      <div class="set-or-edit-label">Редактировать</div>
      <div class="After"></div>
    </div>
    <div class="DescriptionsItem">
      <div class="DescriptionsTerm">Телефон</div>
      <div class="DescriptionsDetails">
        Укажите номер телефона, по которому покупатели смогут с вами связаться
      </div>
      <div class="set-or-edit-label">Указать</div>
      <div class="After"></div>
    </div>
    <div class="DescriptionsItem">
      <div class="DescriptionsTermEMail">E-mail</div>
      <div class="DescriptionsDetails">
        <div class="SomeemailMailCom">someemail@mail.com</div>
      </div>
      <div class="After"></div>
      <div class="set-or-edit-label">Редактировать</div>
    </div>
    <div class="DescriptionsItem">
      <div class="DescriptionsTerm">Город</div>
      <div class="DescriptionsDetails">
        Не указано
      </div>
      <div class="set-or-edit-label">Указать</div>
      <div class="After"></div>
    </div>
  </div>

</div>