<div>
    <h1>Личные данные</h1>
    <div class="atribute-list">
        <div class="settings-block">
            <div class="settings-header">Профиль</div>
            <div class="settings-details">
                <div class="merchant-profile">
                    <div class="merchant-name">
                        {{merchantsName}}
                    </div>
                </div>
            </div>
            <button class="set-or-edit-label">Редактировать</button>
        </div>
        <div class="settings-block">
            <div class="settings-header">Телефон</div>
            {{#if (is_null phone)}}
            <div class="settings-hint">
                Укажите номер телефона, по которому с вами смогут связаться покупатели
            </div>
            <button class="set-or-edit-label">Указать</button>
            {{^}}
            <div class="settings-details">
                {{phone}}
            </div>
            <button class="set-or-edit-label">Редактировать</button>
            {{/if}}
        </div>
        <div class="settings-block">
            <div class="settings-header">E-mail</div>
            <div class="settings-details">
                {{email}}
            </div>
            <button class="set-or-edit-label">Редактировать</button>
        </div>
        <div class="settings-block">
            <div class="settings-header">Город</div>
            {{#if (is_null city)}}
            <div class="settings-hint">
                Не указано
            </div>
            <button class="set-or-edit-label">Указать</button>
            {{^}}
            <div class="settings-details">
                {{city}}
            </div>
            <button class="set-or-edit-label">Редактировать</button>
            {{/if}}
        </div>
    </div>
</div>