.ad-path {
    padding: 0;
    margin: 0;
    font-size: 14px;
  
    li {
        display: inline;
    
        &:not(:first-child)::before {
            content: '•';
            margin: 0 0.5%;
        }
    
        &:not(:last-child) a {
            color: #4365d4;
        }
    
        &:last-child a {
            color: #000000;
            cursor: default;
        }
    
        a {
            text-decoration: none;
        }
        }  
  }
  
  @media (max-width: 900px) {
    .ad-path {
        display: none;
    }
  }
  