.ad-path {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.ad-path li {
    display: inline;
}

.ad-path li:not(:first-child)::before {
    content: "•";
    margin: 0 0.5%;
}

.ad-path li a {
    text-decoration: none;
}

.ad-path li:not(:last-child) a {
    color: #4365d4;
}

.ad-path li:last-child a {
    color: #000000;
    cursor: default;
}