<ul class="adPath">
    <li class="city">
        <a>{{city}}</a>
    </li>
    <li class="category">
        <a>{{category}}</a>
    </li>
    <li class="name">
        <a>{{name}}</a>
    </li>
</ul>