
<div class="ActiveSoldSwitch">
    <div class="ActiveSoldList">
        {{#each items}}
        {{!-- <a class="activeSoldSelectedButton">
            <div class="Active">
                <div class="ActiveSoldInsideTextDiv">
                    <div class="ActiveSoldGrayText">{{categoryLabel}} {{count}}</div>
                </div>
            </div>
        </a> --}}
        <div class="ActiveSoldNoSelectedButton">
            <label class="Active">
                <div class="ActiveSoldInsideTextDiv">
                        <input  type="radio" name="radio"/>
                        <span  class="ActiveSoldBlackText">{{categoryLabel}} {{count}}</span>
                </div>
            </label>
        </div>
        
        {{/each}}
    </div>
</div>
    


