/* Блок "order-item" */
.order-item {
  max-width: 900px;
  width: calc(90vw - 300px);
  height: 200px;
  display: grid;
  padding: 10px 20px 5px 20px;
  grid-template-columns: 8fr 1fr;
  grid-template-areas:
    'heading heading'
    'image delete'
    'price price'
    'delivery delivery';
  position: relative;
}

@media (max-width: 800px) {
  .order-item {
    width: 90%;
  }
}

/* Элемент "order-item__heading" */
.order-item__heading {
  color: black;
  font-size: 26px;
  grid-area: heading;
  padding-bottom: 5px;
  font-weight: 700;
  line-height: 30px;
  word-wrap: break-word;
}

/* Элемент "order-item__image" */
.order-item__image {
  grid-area: image;
  width: 100px;
  height: 75px;
  padding-bottom: 5px;
  object-fit: cover;
  border-radius: 12px;
}

/* Элемент "order-item__image-overlay" */
.order-item__image-overlay {
  width: 100px;
  height: 75px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

/* Элемент "order-item__price" */
.order-item__price {
  height: 18px;
  grid-area: price;
  color: #757575;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

/* Блок "button" и элемент "order-item__button" */
.button.order-item__button {
  width: 231px;
  height: 44px;
  left: 0px;
  top: 155px;
  position: absolute;
  background: #f2f1f0;
  border-radius: 12px;
}

/* Элемент "button__text" */
.button__text {
  width: 198px;
  height: 22px;
  left: 16px;
  top: 10.5px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}

/* Элемент "order-item__delivery-info" */
.order-item__delivery-info {
  grid-area: delivery;
  height: 22px;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}

/* Элемент "order-item__delete" */
.order-item__delete {
  width: 20px;
  height: 20px;
  grid-area: delete;
}

/* Элемент "order-item__delete-icon" */
.order-item__delete-icon {
  width: 16px;
  height: 17px;
}
