.ad-creation-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  float: inline-start; 
}

.ad-creation {
  gap: 10px;
  margin: auto;
  width: 100%;
  margin: 0 auto;
}

.ad-creation .form {
  display: grid;
  grid-template-columns: auto 1fr;
  float: inline-start;
  gap: 10px;
  padding: 20px;
  margin-bottom: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 950px;
}

.ad-creation .form__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 20px;
}

/* Элементы формы */
.ad__creation .form__label {
  min-width: 200px;
  text-align: left;
  padding-right: 10px;
  display: block;
  margin-bottom: 20px;
  color: #858585;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.ad-creation .form__input,
.ad-creation .form__select,
.ad-creation .form__textarea {
  /* min-width: 640px; */
  font-family: 'OpenSans', sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: solid 1px #eee;
  box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
  box-sizing: border-box;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  font-size: 16px;
}

.ad-creation .form__select {
  max-width: 290px;
}

.ad-creation .form__textarea {
  width: 100%;
  height: 130px;
}

.ad-creation .form__description {
  color: #8b8a8a;
}

.ad-creation .form__input--description {
  margin-bottom: 5px;
}

.input__error {
  border-color: #ff0000 !important;
}

.ad-creation .form__input--min {
  max-width: 180px;
}

.preform .form__input[type='file'] {
  border: none;
}

.form__button {
  width: 284px;
  height: 40px;
  padding: 8px 20px;
  background: #7092fe;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  color: white; /* белый цвет текста */
  border: none; /* без границ */
  padding: 10px 20px;
  font-size: 18px; /* размер шрифта */
  cursor: pointer; /* курсор в виде указателя */
  transition: background-color 0.3s; /* плавное изменение цвета фона при наведении */
}

.ad-creation .asterisk {
  color: #ff0000;
}

.ad-creation .form__button:hover {
  background-color: #4b74f8;
}

/* Модификаторы */
.ad-creation .form__input--error {
  border-color: #ff0000;
}

.ad-creation .form__button--disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.location-place {
  max-width: 290px;
  margin-bottom: 20px;
}
.ruble {
  font-size: x-large;
}

@media (max-width: 800px) {
  .ad-creation {
    .form__title {
      text-align: center;
      font-size: 20px ;
    }

    .form {
      grid-template-columns: none;
    }
  }
 
}
