.merchant-card {
    display: flex;
    flex-direction: column;
    width: 100%;

    .subscribe-button {
        margin-top: 20px;
        height: 40px;
        background: #e8edfe;
        box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.02);
        border-radius: 8px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #7092fe;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.card-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.card-container__merchant-address {
    color: #333333;
    text-decoration: none;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    font-size: 24px;
    font-weight: bold;

    &:hover {
        color: #555454;
    }
}

.card-container__content {
    align-items: center;
    display: inline-flex;

    .avatar-image {
        width: 72px;
        height: 72px;
        position: relative;
        border-radius: 36px;
    }

    .user-info {
        padding-left: 16px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        vertical-align: bottom;
        display: inline-flex;
        height: 100%;
    }
    
    .location,
    .date {
        justify-content: flex-start;
        display: inline-flex;
        font-size: 14px;
        color: gray;
        margin-bottom: 8px;
    }
}

.approved-card {
    margin-top: 10px;
    padding: 12px 8px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}  

.approved-card__icon-container {
    display: inline-flex;
    align-items: center;
    width: 10%;
    justify-content: center;
    height: 30px;

    .icon-vector {
        width: 18px;
        height: 23px;
        background: transparent;
    }
    
    .icon-vector-white {
        width: 12px;
        height: 17px;
        position: absolute;
        background: transparent;
    }
}

.approved-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    .status {
        font-size: 14px;
        margin-left: 10px;
    }
}

.approved-card__info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

    .icon-vector-gray {
        width: 16px;
        height: 16px;
        opacity: 1;
        background: transparent;
    }
    }

.stats-container {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
}

.stats-container__item {
    width: 35%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &:first-child {
        width: 30%;
    }

    .stats-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 40px;
        color: #858585;
        font-size: 14px;
    }

    .button-number {
        color: #7092fe;
        cursor: default;
    }
}

.actions-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .actions-container__button {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
    }
}

.stats-container__item:hover .button-number {
    text-decoration: underline;
}

@media (max-width: 1125px) {
    .stats-container__item:first-child {
        width: 25%;
    }

    .card-container__content {
        .location,
        .date {
            margin-bottom: 4px;
        }
    }
}



.rating {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.rating__value {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 14px;
    color: rgb(255, 205, 75);
    margin-right: 5px;
}

.rating__stars {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.star {
    width: 16px;
    height: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

