.interactive-widget {
  width: 360px;
  height: 520px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 0px #dbdbdb;
  top: 0px;
  left: 0px;
  position: fixed;
  overflow: hidden;
  font-family: helvetica;
}

.interactive-widget--blue {
  background-color: #deefff;
}

.interactive-widget--blue .interactive-widget__header {
  color: #5eafff;
}

.interactive-widget--blue .checkmark {
  background-color: #dfefff;
  color: #42424a;
}

.interactive-widget--blue .custom-radioBtn:hover input ~ .checkmark {
  background-color: #5eafff;
  color: #fff;
}

.interactive-widget--blue .custom-radioBtn input:checked ~ .checkmark {
  background-color: #5eafff;
  color: #fff;
}

.interactive-widget__header {
  padding: 20px;
}

.interactive-widget__header h3 {
  font-size: 25pt;
  margin: 0;
}

.interactive-widget__body {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  display: none;
}

.interactive-widget__body--active {
  display: block;
}

.interactive-widget__body__header {
  padding: 20px;
  box-sizing: border-box;
  font-size: 12pt;
}

.interactive-widget__body__header h4 {
  margin: 0;
  font-size: 16pt;
}

.interactive-widget__body__header p {
  margin-top: 10px;
  margin-bottom: 0;
  color: #6f6f6f;
}

.interactive-widget__body__body {
  padding: 20px;
  box-sizing: border-box;
}

.result--soloPlus {
  padding: 20px;
  box-sizing: border-box;
}

.result__price {
  font-size: 35pt;
  font-weight: 800;
  margin: 0;
  color: #202125;
}

.result__price span {
  font-size: 16pt;
  font-weight: 600;
}

.result__plan {
  margin: 0;
  font-weight: 600;
  font-size: 18pt;
  color: #9d9d9d;
}

/* STYLING OF CUSTOM RADIO BUTTONS */

.questionary-wrapper {
  width: 230px;
  display: flex;
  flex-direction: column;
}

.custom-radioBtn {
  height: 40px;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radioBtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 30px;
  width: 100%;
  font-size: 14pt;
  border-radius: 8px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark img {
  width: 20px;
  margin-right: 10px;
  color: #525252;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.custom-radioBtn input:checked ~ .checkmark:after {
  display: block;
}
