.dropdown-with-search {
  max-width: 350px;
  width: 100%;
  height: 200px !important;
}

@media (max-width: 34em) {
  .dropdown-with-search {
    min-width: 150px;
    width: auto;
  }
}

.dropdown-with-search--none {
  display: none !important;
}

.dropdown-with-search--select {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(219, 218, 218);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.dropdown-with-search--select:focus {
  background-color: #fff;
}

.dropdown-with-search--select:hover {
  background-color: #fff;
}

.dropdown-with-search--select:active,
.dropdown-with-search--select.open {
  background-color: #fff !important;
  border-color: #bbb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-with-search--select:after {
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #777;
  -webkit-transform-origin: 50% 20%;
  transform-origin: 50% 20%;
  transition: all 0.125s ease-in-out;
  content: '';
  display: block;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
}

.dropdown-with-search--select.open:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.dropdown-with-search--select.open .dropdown-with-search__list {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.dropdown-with-search--select.open .citylist__option {
  cursor: pointer;
}

.dropdown-with-search--select.wide {
  width: 100%;
}

.dropdown-with-search--select.wide .dropdown-with-search__list {
  left: 0 !important;
  right: 0 !important;
}

.dropdown-with-search--select .dropdown-with-search__list {
  box-sizing: border-box;
  transition:
    all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75),
    opacity 0.1s linear;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  border-radius: 6px;
  margin-top: 4px;
  padding: 3px 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  max-height: 250px;
  border: 1px solid #ddd;
}

.dropdown-with-search--select .dropdown-with-search__list:hover .citylist__option:not(:hover) {
  background-color: transparent !important;
}

.dropdown-with-search--select .search {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.dropdown-with-search--select .search__box {
  width: 90%;
  padding: 0.2rem;
  font-size: 16px;
  border: none;
  outline: none;
}

.dropdown-with-search--select .search__box:focus {
  border-color: #7092fe;
}

.dropdown-with-search--select .dropdown-with-search__list ul {
  padding: 0;
}

.dropdown-with-search--select .citylist__option {
  cursor: default;
  font-weight: 400;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
  list-style: none;
}

.dropdown-with-search--select .citylist__option:hover,
.dropdown-with-search--select .citylist__option:focus {
  background-color: #f6f6f6 !important;
}

.dropdown-with-search--select .citylist__option.citylist__option--selected {
  font-weight: 600;
  color: #7092fe;
}

.dropdown-with-search--select .citylist__option.citylist__option--selected:focus {
  background: #f6f6f6;
}

.dropdown-with-search--select a {
  color: #aaa;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.dropdown-with-search--select a:hover {
  color: #666;
}

.citylist {
  overflow: auto scroll;
  height: 200px;
  border-top: 2px solid #ddd;
}
