.profile-page__header {
  font-size: 24px;
  font-weight: bold;
}



@media (max-width: 900px) {
  .profile-page__content {
    padding-bottom: 100px;
  }

  .disable-card {
    display: none !important;
  }

  .merchant-card {
    display: flex;
    flex-direction: column;
  }

  .profile-page__header {
    display: none;
  }
}
