.profile-page-right-section-header {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .profile-page-right-section-content {
    padding-bottom: 100px;
  }

  .disable-card {
    display: none !important;
  }

  .merchant-card__section {
    display: flex;
    flex-direction: column;
  }
}
