.merchant-page-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.merchant-page-right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-container-merchant {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.cursor-hand-hover:hover {
  cursor: pointer;
}

.text-underline-hover:hover {
  text-decoration: underline;
  text-decoration-color: #7092FE;
  color: #7092FE;
}

label {
  cursor: pointer;
}
