<div class="merchant-page">
    <div class="user-card-main-div"></div>
    <div class="merchant-page-right-section">
        <div class="profile-page-right-section-header">Мои объявления</div>
        <div class="profile-page-right-section-content">
            <div class="merchant-page-right-section-switch"></div>
            <div class="cards-container-merchant"></div>
        </div>
    </div>
</div>
