<div class="profile-page">
    <div class="profile-page__main"></div>
    <div class="profile-page__right-section">
        <div class="profile-page__header">Мои объявления</div>
        <div class="profile-page__content">
            <div class="profile-page__switch"></div>
            <div class="profile-page__cards-container"></div>
        </div>
    </div>
</div>
