<div>
<button class="button-iframe form__button" type="button">Пройдите опрос</button>

<iframe hidden="true"
id="iframe"
class="iframe"
title="Inline Frame Example"
width="300"
height="200"
src="http://127.0.0.1:8008/csat">
</iframe>
</div>
