.button-iframe {
  position: fixed;
  left: 50px;
  bottom: 70px;
  width: 200px !important;
  margin-left: 80px;
  opacity: 70%;

  &:hover {
    opacity: 100%;
  }
}

.iframe {
  border: solid rgb(115, 146, 190);
  width: 360px;
  height: 520px;
  position: fixed;
  left: 50px;
  bottom: 120px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
