<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <button class="cl" type="button" style=" position: fixed; left: 100px; bottom: 70px">Пройдите опрос</button>

  <iframe hidden="true"
  style=" position: fixed; left: 100px; bottom: 100px; border-radius: 8px;"
  id="inlineFrameExample"
  title="Inline Frame Example"
  width="300"
  height="200"
  src="http://127.0.0.1:8008/">
</iframe>
<script>
  const button = document.querySelector('.cl');
  button.addEventListener('click', (ev) => {
    const iframe = document.querySelector('[id="inlineFrameExample"]');
    iframe.hidden = !iframe.hidden;
  });
</script>
</body>
</html>


