@import "components/authForm/style.css";
@import "components/adsCard/style.css";
@import "components/header/style.css";

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

#root{
    font-size: medium;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex-shrink: 0;
   
} 

 main {
    display:inline;
    text-align: center;
    flex-grow: 1;
    margin: 2% 5%;
}

/* header form{
    display: inline-flex;
    justify-self:stretch;
    min-width: 40%;
}

header form input[type='text']{
    min-width: 80%;
}

header img {
    object-fit: cover;
    height: 40px;
  
} */