@import "components/authForm/authForm.css";
@import "components/adsCard/adsCard.css";
@import "components/header/header.css";

body {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-page {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: "Roboto", Open Sans;
    background: rgba(235, 237, 240, 1);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main-page {
    font-family: "Roboto", Open Sans;
    width: 1219px;
    margin: 1% 2%;
}

.page-content {
    margin-top: 2%;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 36px;
}