$background-color: #f5f5f5;
$main-width: 1219px;

@font-face {
  font-family: 'OpenSans';
  src: url('../server/fonts/OpenSans.ttf'), format('ttf');
}

body {
  padding: 0;
  margin: 0;
  background: $background-color;
}

.auth-page {
  position: fixed;
  width: 100%;
  height: 80%;
  font-family: 'OpenSans', sans-serif;
  background: $background-color;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .auth-page {
    background: #fff;
  }
}

main {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page {
  font-family: 'OpenSans', sans-serif;
  width: $main-width;
  margin-top: 1%;
}

@media (max-width: $main-width) {
  .main-page {
    width: 100%;
  }

  .page-content {
    padding: 0 2%;
  }
}

.page-content {
  margin-top: 2%;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 36px;
}

.cards-container-skeleton {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 36px;
}

.ad-container {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px 0px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 0;
}
