<div class="rating">
    <div class="rating__value">{{ratingValue}}</div>
    <div class="rating__stars">
        {{#each items}}
            <div class="star"> {{{this}}} </div>
        {{/each}}
    </div>
</div>
