<div class="empty-adverts">
    <div class="empty-adverts__inner">
        <div class="empty-adverts__item">
            <img src="/images/empty-adverts-vector-item.svg" alt="empty-adverts-vector-item">
        </div>
        <div class="empty-adverts__item">
            <img src="/images/empty-adverts-vector-item.svg" alt="empty-adverts-vector-item">
        </div>
    </div>
    <div class="empty-adverts__message">
        <div class="empty-adverts__header"> {{header}}</div>
        <div class="empty-adverts__text">
            Все {{content}} объявления будут<br/>отображаться на этой странице.
        </div>
    </div>
</div>
