<div class="empty-adverts-main-container">
    <div class="empty-adverts-inner-container">
        <div class="empty-adverts-vector-item">
            <svg width="72" height="100" viewBox="0 0 72 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M68.8788 0.908813H3.20742C1.69698 0.908813 0.472534 2.13326 0.472534 3.6437V96.3556C0.472534 97.866 1.69698 99.0904 3.20742 99.0904H68.8788C70.3893 99.0904 71.6137 97.866 71.6137 96.3556V3.6437C71.6137 2.13326 70.3893 0.908813 68.8788 0.908813Z" fill="white"/>
                <path d="M68.3904 1.39722H3.69576C2.18533 1.39722 0.960876 2.62167 0.960876 4.1321V95.8672C0.960876 97.3776 2.18533 98.6021 3.69576 98.6021H68.3904C69.9008 98.6021 71.1253 97.3776 71.1253 95.8672V4.1321C71.1253 2.62167 69.9008 1.39722 68.3904 1.39722Z" stroke="#EBEBEB" stroke-width="0.976744"/>
                <mask id="mask0_3359_3005" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="72" height="100">
                <path d="M68.8788 0.908813H3.20742C1.69698 0.908813 0.472534 2.13326 0.472534 3.6437V96.3556C0.472534 97.866 1.69698 99.0904 3.20742 99.0904H68.8788C70.3893 99.0904 71.6137 97.866 71.6137 96.3556V3.6437C71.6137 2.13326 70.3893 0.908813 68.8788 0.908813Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_3359_3005)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M71.6137 0.908813H0.472534V71.8176H71.6137V0.908813ZM57.933 77.2728H5.94439V82.7272H57.9316L57.933 77.2728ZM31.939 85.4544H5.94509V90.9088H31.939V85.4544Z" fill="#EBEBEB"/>
                </g>
            </svg>
        </div>
        <div class="empty-adverts-vector-item">
            <svg width="72" height="100" viewBox="0 0 72 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M68.8788 0.908813H3.20742C1.69698 0.908813 0.472534 2.13326 0.472534 3.6437V96.3556C0.472534 97.866 1.69698 99.0904 3.20742 99.0904H68.8788C70.3893 99.0904 71.6137 97.866 71.6137 96.3556V3.6437C71.6137 2.13326 70.3893 0.908813 68.8788 0.908813Z" fill="white"/>
                <path d="M68.3904 1.39722H3.69576C2.18533 1.39722 0.960876 2.62167 0.960876 4.1321V95.8672C0.960876 97.3776 2.18533 98.6021 3.69576 98.6021H68.3904C69.9008 98.6021 71.1253 97.3776 71.1253 95.8672V4.1321C71.1253 2.62167 69.9008 1.39722 68.3904 1.39722Z" stroke="#EBEBEB" stroke-width="0.976744"/>
                <mask id="mask0_3359_3005" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="72" height="100">
                <path d="M68.8788 0.908813H3.20742C1.69698 0.908813 0.472534 2.13326 0.472534 3.6437V96.3556C0.472534 97.866 1.69698 99.0904 3.20742 99.0904H68.8788C70.3893 99.0904 71.6137 97.866 71.6137 96.3556V3.6437C71.6137 2.13326 70.3893 0.908813 68.8788 0.908813Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_3359_3005)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M71.6137 0.908813H0.472534V71.8176H71.6137V0.908813ZM57.933 77.2728H5.94439V82.7272H57.9316L57.933 77.2728ZM31.939 85.4544H5.94509V90.9088H31.939V85.4544Z" fill="#EBEBEB"/>
                </g>
            </svg>
        </div>
    </div>
    <div class="empty-adverts-message-container">
        <div class="empty-adverts-message-text">
            Все {{content}} объявления будут<br/>отображаться на этой странице.
        </div>
    </div>
</div>
