<div class="empty-adverts-main-container">
    <div class="empty-adverts-inner-container">
        <div class="empty-adverts-vector-item">
            <img src="images/empty-adverts-vector-item.svg" alt="empty-adverts-vector-item">
        </div>
        <div class="empty-adverts-vector-item">
            <img src="images/empty-adverts-vector-item.svg" alt="empty-adverts-vector-item">
        </div>
    </div>
    <div class="empty-adverts-message-container">
        <div class="empty-adverts-message-text">
            Все {{content}} объявления будут<br/>отображаться на этой странице.
        </div>
    </div>
</div>
