.post-block {
  width: 75%;
}

.seller-block {
  width: 25%;
  position: sticky;
  height: fit-content;
  top: 100px;
  padding-left: 50px;
}

.post-container {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px 0px;

  .title {
    width: 65%;
  }

  .favourite {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    width: 35%;
  }

  .favourite__btn--edit {
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    color: black;
    display: flex;

    &:hover {
      text-decoration: underline;
    }

    .favourite__edit-pencil {
      display: none;
      height: 18px;
      width: auto;
    }
  }

  .favourite__btn--favourite {
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  .favourite__text {
    margin-left: 5px;
  }

  .like-img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
  }

  h1 {
    margin: 0;
  }

  li {
    display: flex;
    margin-bottom: 15px;
    line-height: 28px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .post-description__property--primary {
    color: #858585;
    flex: 0 0 30%;
  }

  .post-description__end-of-block {
    margin-bottom: 25px;
  }

  .post-block__top-panel {
    display: flex;
    justify-content: space-between;
  }

  .post-block__price--mobile {
    display: none;
  }
}

.post-description {
  margin-top: 30px;
  font-size: 16px;

  .location {
    img {
      display: none;
    }
  }
}

.post-description__section:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 15px;
}

.post-images {
  margin-top: 20px;
  position: relative;
  width: 100%;

  &__carousel {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
  }

  .carousel {
    display: flex;
    position: relative;
    transition: transform 0.5s ease;
  }

  .images {
    display: flex;
    width: 100%;
    height: 450px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 3px;
  }

  .post-images__btn-container {
    position: absolute;
    overflow: visible;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__prev-container {
      position: relative !important;
      overflow: visible;
    }

    &__next-container {
      position: relative !important;
    }

    &__prev-btn {
      position: fixed;
      left: -8px;
    }

    &__next-btn {
      position: absolute;
      left: -24px;
    }
  }

  button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    padding: 4px;
    transition: 0.3s;
    cursor: pointer;

    display: table-cell;
    vertical-align: middle;
    z-index: 10;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
    }

    &:active {
      background-color: #dfdfdf;
      border: 0px;
    }
  }
}

.seller-block__btn {
  transition: 0.3s;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  display: block;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &--close,
  &--cart {
    color: rgba(255, 255, 255, 1);
    background: rgba(112, 146, 254, 1);
    margin-top: 20px;

    &:hover {
      background: rgb(59, 92, 199);
    }
  }

  &--promote {
    color: #7092fe;
    background: #e8edfe;

    &:hover {
      opacity: 0.8;
    }
  }
}

.promotion-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  &__container {
    display: flex;
    justify-content: space-between;

    &--text-block {
      display: flex;
      flex-direction: column;
      width: 70%;
      align-items: flex-start;

      .title {
        width: auto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 10px;
      }

      .hint {
        width: auto;
        font-size: 14px;
        color: #808080;
      }
    }

    &--icon {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .maximum {
        background-color: #EA3939;
  
        path {
            stroke: #EA3939;
            fill: white;
        }
      }
    
      .premium {
          background-color: #FF7222;
    
          path {
              stroke: #FF7222;
              fill: white;
          }
      }
    
      .lifting {
          background-color: #039AD3;
    
          path {
              stroke: #039AD3;
              fill: white;
          }
      }
    }

    &--circle {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__progress-bar {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
}

@mixin css3-prefix($property, $value) {
  #{$property}: #{$value};
}

.favourite__btn--favourite {
  display: flex;
  align-items: center;

  &:hover {
    .like-heart:not(.like-heart--active) svg {
      stroke: gray;
    }
  }

  &:active {
    .like-heart {
      @include css3-prefix(transform, scale(0.75) translateY(2px));
    }
  }

  .like-heart {
    height: 18px;
    width: 20px;
    svg {
      height: 18px;
      width: 20px;
    }
  }
}

@media (max-width: 700px) {
  .post-images {
    margin-top: 0;

    .images {
      height: auto;
    }

    .images__item {
      padding: 0;
    }
  }
}

@media (max-width: 900px) {
  .post-block__top-panel,
  .post-description {
    margin: 0 10px;
  }

  .post-container {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  .post-page {
    margin: 0;
    padding: 0;
  }

  .post-images {
    margin-top: 10px;
    order: 1;

    &__carousel {
      margin-left: 0px;
      margin-right: 0px;
    }

    &__next-container {
      padding-right: 8px;
    }

    &__prev-container {
      padding-left: 8px;
    }
  }

  .seller-block,
  .post-block {
    width: 100%;
    padding-left: 0;

    .post-images__btn-container {
      &__prev-btn {
        position: fixed;
        left: 8px;
      }

      &__next-btn {
        position: absolute;
        left: -40px;
      }
    }
  }

  .seller-block {
    padding: 0 10px;
    box-sizing: border-box;

    .price {
      display: none;
    }
  }

  .seller-block__btn {
    position: fixed;
    bottom: 20px;
    margin: 0;
    width: 56%;
    left: 22%;
  }

  .post-block {
    display: flex;
    flex-direction: column;
  }

  .post-block__top-panel {
    order: 2;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;

    h1 {
      font-size: 20px !important;
    }

    .post-block__price--mobile {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .favourite__btn--edit {
      .favourite__edit-pencil {
        display: block;
      }

      span {
        display: none;
      }
    }

    .favourite__btn--favourite {
      span {
        display: none;
      }
    }

    .favourite {
      width: 5%;
    }

    .title {
      width: 95%;
    }
  }

  .post-description {
    order: 3;
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 15px;

    .post-description__section {
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }

    .post-description__section:first-child {
      li:nth-child(2) {
        order: 3;
        margin-bottom: 15px;
      }

      li:nth-child(3) {
        order: 4;
        margin-bottom: 15px;
      }

      li:last-child {
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        line-height: 24px;

        .post-description__property--primary {
          display: none;
        }
      }
    }

    .location {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 15px;

      img {
        display: block;
        margin-right: 15px;
      }

      .post-description__property--primary {
        display: none;
      }
    }
  }
}
