.profile-page {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__main {
    width: 22%;
    padding-right: 0px;
  }

  .labels-group__icon:hover {
    cursor: pointer;
    color: #7092fe;
  }
}

@media (max-width: 900px) {
  .profile-page {
    padding: 0px 20px 0px 20px;
    flex-direction: column;
    justify-content: space-between;

    &__main {
      width: 100%;
    }

    .stats-container {
      border: none;
    }
  }

  .profile-page__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(129px, 37.5vw, 215px));
    justify-content: space-evenly;
    gap: 16px 36px;
  }

  .profile-page__right-section {
    width: 100% !important;
  }
}

@media (max-width: 1219px) and (min-width: 900px) {
  .profile-page__main {
    margin: 0 15px;
  }
}

.profile-page .profile-page__right-section {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.profile-page .profile-page__cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 2%;

  a {
    text-decoration: none;
  }
}

.profile-page .text-underline-hover:hover {
  text-decoration: underline;
  text-decoration-color: #7092fe;
  color: #7092fe;
}

.profile-page label {
  cursor: pointer;
}
