<div class="sidebar">
  <div class="sidebar__promo-block">
    <div class="sidebar__item-count"><span id="quantity">{{quantity}}</span> товара</div>
    <div class="sidebar__separator"></div>
    <div class="sidebar__price"><span id="priceSum">{{priceSum}}</span> ₽</div>
    <div class="sidebar__description">Цена без доставки</div>
    <a class="sidebar__button" href="#">
      <span class="sidebar__button-text">Оформить доставку</span>
    </a>
  </div>
</div>
