.sidebar {
  width: 318px;
  height: 170px;
  position: absolute;
  left: 930px;
  top: 23px;
  }
  
  .sidebar__promo-block {
  width: 300px;
  height: 156px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  }
  
  .sidebar__item-count {
  width: 65px;
  height: 20px;
  position: absolute;
  left: 24px;
  top: 19.50px;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  }
  
  .sidebar__separator {
  width: 182.42px;
  height: 1px;
  position: absolute;
  left: 88.30px;
  top: 34.50px;
  }
  
  .sidebar__price {
  height: 22px;
  position: absolute;
  left: 218px;
  top: 48px;
  text-align: right;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  }
  
  .sidebar__description {
  width: 160px;
  height: 22px;
  position: absolute;
  left: 24px;
  top: 48px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  }
  
  .sidebar__button {
  font-family: "OpenSans", sans-serif;
  width: 255px;
  height: 50px;
  padding: 8px 20px;
  position: absolute;
  left: 24px;
  top: 85px;
  padding: 8px 20px;
  background: #7092FE;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  color: white; /* белый цвет текста */
  border: none; /* без границ */
  /* border-radius: 25px; скругленные углы */
  /* padding: 10px 20px; внутренние отступы */
  font-size: 18px; /* размер шрифта */
  cursor: pointer; /* курсор в виде указателя */
  transition: background-color 0.3s; /* плавное изменение цвета фона при наведении */
}

  .sidebar__button:hover {
    background: #4b74f8
  }
  .sidebar__button-text {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  }

  