<div class="sidebar">
    <div class="sidebar__promo-block">
        <div class="sidebar__item-count"><span id="quantity">{{quantity}}</span>&nbsp;товара</div>
        <div class="sidebar__separator"></div>
        <div class="sidebar__price"><span id="priceSum">{{priceSum}}</span>&nbsp;₽</div>
        <div class="sidebar__description">Цена без доставки</div>
        <input type="submit" class="btn-primary sidebar__button" value="Оформить доставку"/>
    </div>
</div>
