<div class="ProductCard">
    <div class="SpanScHitemj">
        <div class="Link">
            <div class="Figure">
                <div class="DivScJvfpsw">
                    <div class="DivScBnfank">
                        <img class="Img" src="#" />
                    </div>
                    <div class="DivScDxqqip">
                        <div class="Ellipse2"></div>
                        <div class="Ellipse3"></div>
                        <div class="Ellipse4"></div>
                    </div>
                </div>
                <div class="DivScHfjcge">
                    <div class="DivScBiudwx">
                        <div class="PScCoxwqc">
                            <div class="SpanScFlhmoe">
                                <div class="000">{{price}} ₽</div>
                            </div>
                        </div>
                        <div class="Button">

                            <div class="VectorArch"><img class= ImgArch src="image2.svg" /></div>
                            <div class="DivH2dD80ef6c9">
                                <div class="DivScFtsljv">
                                    <div class="DivScQvkrw">
                                        <div class="Svg">
                                            <div class="Vector"><img src="image.svg" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Figcaption">
                        <div class="SpanScCoxwqc">
                            <div class="WiFi">{{title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>