.ProductCard {
    width: 233.25px;
    height: 297.25px;
    padding-right: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.SpanScHitemj {
    align-self: stretch;
    height: 297.25px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Link {
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
}

.Figure {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.DivScJvfpsw {
    width: 217.25px;
    height: 217.25px;
    position: relative;
    background: #FAFAFA;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.DivScBnfank {
    width: 217.25px;
    height: 217.25px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F5F5F5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.Img {
    width: 217.25px;
    height: 217.25px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.DivScDxqqip {
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 7px;
    padding-bottom: 7px;
    left: 9px;
    top: 195px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    display: inline-flex;
}

.Ellipse2, .Ellipse3, .Ellipse4 {
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 9999px;
    border: 2px rgba(117, 117, 117, 0.50) solid;
}

.Ellipse3, .Ellipse4 {
    background: #BEBEBE;
}

.DivScHfjcge {
    align-self: stretch;
    height: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.DivScBiudwx {
    align-self: stretch;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 136.83px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.PScCoxwqc {
    padding-top: 4px;
    padding-bottom: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.SpanScFlhmoe {
    width: 64.42px;
    height: 24px;
    position: relative;
}

.price {
    width: 64.82px;
    height: 32px;
    left: 0px;
    top: -4px;
    position: absolute;
    color: #333333;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}

.Button {
    padding-top: 4px;
    padding-bottom: 4px;
    left: 169.25px;
    top: -12px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.Svg {
    width: 40px;
    height: 24px;
    left: 0px;
    top: -5px;
    position: absolute;
}

.Vector {
    width: 40px;
    height: 13px;
    left: 0px;
    top: 5.50px;
    position: absolute;
    background: white;
}

.DivH2dD80ef6c9 {
    align-self: stretch;
    height: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.DivScFtsljv {
    width: 40px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
}

.DivScQvkrw {
    width: 24px;
    height: 24px;
    position: relative;
}

.Figcaption {
    align-self: stretch;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.SpanScCoxwqc {
    align-self: stretch;
    padding-right: 2.87px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.title {
    color: #333333;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}