<div class="header-section-merchant-page-title">
    <div class="flex-container-merchant-page-title">
        <div class="flex-item-merchant-page-title">
            <div class="list-container-merchant-page-title">
                <div class="list-item-merchant-page-title">
                    <div class="link-merchant-page-title text-underline-hover cursor-hand-hover" href="{{urlMainPage}}"
                        data-url="{{urlMainPage}}">Главная</div>
                    <div class="separator-merchant-page-title">·</div>
                </div>
                <div class="list-item-merchant-page-title user-name-merchant-page-title">{{userName}}</div>
            </div>
        </div>
    </div>
</div>