.hover-slider {
  transition: 0.3s;
  width: clamp(129px, 37.5vw, 215px);
  height: clamp(129px, 37.5vw, 215px);
  position: absolute;
}

.hover_slider__item {
  float: left;
  transition: 0.3s;
  width: clamp(129px, 37.5vw, 215px);
  height: clamp(129px, 37.5vw, 215px);
  position: relative;
}

.hover_slider__item img {
  width: 100%;
  height: 100%;
}

.hover_slider_nuv {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.hover_slider_nuv:hover {
  opacity: 1;
}

.hover-slider__main {
  position: absolute;
  top: 0px;
  width: clamp(129px, 37.5vw, 215px);
  height: clamp(129px, 37.5vw, 215px);
}

.hover_slider_nuv div {
  height: 100%;
  float: left;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.hover_slider_nuv div:last-child {
  margin-right: 0;
}

.hover-slider__ellipse {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.64);
  box-shadow: rgba(51, 51, 51, 0.24) 0px 0px 0px 1px;
}

.hover-slider__ellipse-line {
  display: none;
  flex-direction: row;
  gap: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
}
