<div class="hover-slider-parent">
    <div class="hover-slider" data-mode="slide" style="top: 0px; width: 215px;">
        {{#each photos}}
            <div class="item_hover_slider" style="width: 215px;">
                <img src="data:image/png;base64,{{this}}" alt="Hover slider">
            </div>
        {{/each}}
    </div>
    <div class="ellipse-line">
        {{#each photos}}
            <div class="ellipse"></div>
        {{/each}}
    </div>
</div>
