<div class="hover-slider-parent">
    <div class="hover-slider" data-mode="fade">
        {{#each photos}}
            <div class="item_hover_slider">
                <img src="data:image/png;base64,{{this}}" alt="Hover slider">
            </div>
        {{/each}}
    </div>
    <div class="ellipse-line">
        {{#each photos}}
            <div class="ellipse"></div>
        {{/each}}
    </div>
</div>
