<div class="hover-slider">
    <div class="hover-slider__main" data-mode="fade">
        {{#each photos}}
            <div class="hover_slider__item">
                <img src="{{this}}" alt="Hover slider">
            </div>
        {{/each}}
    </div>
    <div class="hover-slider__ellipse-line">
        {{#each photos}}
            <div class="hover-slider__ellipse"></div>
        {{/each}}
    </div>
</div>
