/* Основные стили страницы */
.cart-page {
  width: 100%;
  height: 100%;
  position: relative;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  }
  
  .cart-page__container {
  width: 1215px;
  height: 685px;
  position: absolute;
  }
  
  /* Стили для корзины */
  .basket {
  width: 1215px;
  height: 58px;
  position: absolute;
  left: 1px;
  top: 0;
  }
  
  .basket__title {
  width: 160px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 12px;
  color: #222222;
  font-size: 2em;
  font-weight: 500;
  line-height: 36px;
  }
  
  .basket__quantity {
  width: 21px;
  height: 36px;
  position: absolute;
  left: 145px;
  top: 16px;
  color: #858585;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  }
  
  /* Стили для основного содержимого */
  .main-content {
  width: 1232px;
  height: 449px;
  position: absolute;
  left: 1px;
  top: 58px;
  }
  
  .selection-panel {
  width: 880px;
  padding: 15px;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 8px;
  justify-content: center;
  }
  
  .selection-panel__checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  }
  
  .selection-panel__option {
  width: 100px;
  height: 20px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  }
  
  .selection-panel__action {
  width: 307px;
  height: 20px;
  color: #7092FE;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.63px;
  text-decoration: none;
  display: inline-block;
  }

.selection-panel__action:hover {
  color: #426cf3;
}
