/* Основные стили страницы */
.cart-page {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

/* Стили для корзины */
.basket {
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 0px;
  top: 10px;
}

@media (max-width: 800px) {
  .basket {
    text-align: center;
  }

  .selection-panel {
    padding: 15px 15px 200px 15px !important;
    box-shadow: none !important;

    &__delete {
      float: right;
    }

    &__action {
      width: 40vw !important;
    }
  }
}

@media (max-width: 500px) {
  .selection-panel {
    &__action {
      width: 30vw !important;
    }
  }
}

.selection-panel__delete {
  width: fit-content !important;
  padding-left: 10px;
}

.basket__title {
  padding-left: 10px;
  padding-right: 10px;
  color: #222222;
  font-size: 2em;
  font-weight: 500;
  line-height: 36px;
}

.basket__quantity {
  color: #858585;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

/* Стили для основного содержимого */
.main-content {
  width: 100%;
  height: 449px;
  position: absolute;
  left: 0px;
  top: 55px;
}

.selection-panel {
  max-width: 900px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 8px;
  justify-content: center;

  .empty-orders-main-container {
  }
}

.selection-panel__checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}

.selection-panel__option {
  width: 100px;
  height: 20px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
}

.selection-panel__action {
  width: 20vw;
  height: 20px;
  color: #7092fe;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.63px;
  text-decoration: none;
  display: inline-block;
}

.selection-panel__action:hover {
  color: #426cf3;
}
