<div class="cart-page">
  <div class="cart-page__container">
    <div class="basket">
      <div class="basket__title">Корзина</div>
      <div class="basket__quantity">{{quantity}}</div>
    </div>
    <div class="main-content">
      <div class="selection-panel">
        <div class="selection-panel__checkbox"><input type="checkbox" name="cartBlocks" value="all"></div>
        <div class="selection-panel__option">Выбрать всё</div>
        <a href="#" class="selection-panel__action">Удалить выбранное</a>
      </div>
    </div>
  </div>
</div>
