<div class="skeleton-advert">
    <div class="skeleton-advert__image"></div>
    <div class="skeleton-advert__content">
        <div class="skeleton-advert__content-item"></div>
        <div class="skeleton-advert__content-item"></div>
    </div>
</div>
