<div class="skeleton-advert-vector-item">
    <div class="card__image__skeleton"></div>
    <div class="card__content__skeleton">
        <div class="card__content__skeleton-item"></div>
        <div class="card__content__skeleton-item"></div>
    </div>
</div>