/*-----------------*/

.action-buttons-container {
  margin-top: 20px;
  width: 100%;
  height: 64.61px;
  padding-bottom: 0.62px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15.99px;
}

.action-button {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.labels-group__icon {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.labels-group__icon .icon-text {
  flex-grow: 1;
  display: block;
}

.labels-group__icon .icon {
  margin-right: 16px;
}

.labels-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 17px;
  padding: 0;
  list-style: none;
}

/*-----------------*/

.radio-group-vertical input[type='radio'] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radio-group-vertical input[type='radio']:checked + span {
  color: #7092fe;
}

.radio-group-vertical input[type='radio']:checked .labels-group__icon .icon img {
  filter: invert(52%) sepia(67%) saturate(2204%) hue-rotate(204deg) brightness(104%) contrast(99%);
}

.labels-group__icon:hover .icon img {
  filter: invert(52%) sepia(67%) saturate(2204%) hue-rotate(204deg) brightness(104%) contrast(99%);
}

.labels-group__icon a {
  text-decoration: none;
  color: black;
}

.icon--action {
  filter: invert(52%) sepia(67%) saturate(2204%) hue-rotate(204deg) brightness(104%) contrast(99%);
}

.labels-group__icon a:hover {
  color: #002ab3;
}

.radio-group-vertical__active {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.merchant-card__profile-name {
  color: black;
  text-decoration: none;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .labels-group {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 8px 8px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: #fff;
  }
  .labels-group__icon {
    flex-direction: column;
  }

  .radio-group-vertical__active {
    display: none;
  }

  .icon {
    img {
      width: 36px;
      height: 36px;
    }

    &-text {
      font-size: 14px;
    }
  }
}
