.price-history-dialog {
  width: 440px;
  height: 300px;
  padding: 0;
  border: none;
  border-radius: 8px;

  &__container {
    width: 100%;
    height: 100%;
  }

  .price-history-modal {
    padding: 30px;
    top: 16px;
    left: 0;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__content {
      display: flex;
      width: 360px;
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;
    }

    @media (max-width: 800px) {
      &__content {
        width: 100%;
      }
    }

    //   &__header {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-items: flex-start;
    //     gap: 8px;
    //   }

    //   &__text {
    //     color: #333333;

    //     font-size: 20px;
    //     font-family: 'Fira Sans', sans-serif;
    //     font-weight: 500;
    //     line-height: 32px;
    //     word-wrap: break-word;
    //   }

    //   &__subtext {
    //     color: #858585;
    //     font-size: 14px;
    //     font-family: 'Open Sans', sans-serif;
    //     font-weight: 400;
    //     line-height: 24px;
    //     word-wrap: break-word;
    //   }

    //   &__buttons {
    //     display: flex;
    //     flex-grow: 1;
    //     gap: 25px;
    //   }

    //   &__button {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     padding-top: 8px;
    //     padding-bottom: 8px;
    //     flex-grow: 1;
    //     border-radius: 8px;
    //     font-size: 16px;
    //     font-family: 'Open Sans', sans-serif;
    //     font-weight: 400;
    //     line-height: 24px;
    //     word-wrap: break-word;

    //     &--action {
    //       background: #7092fe;
    //       box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    //       color: white;

    //       &:hover {
    //         background: #7b9afe;
    //       }
    //     }

    //     &--cancel {
    //       background: #ebebeb;
    //       box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.02);
    //       color: #333333;

    //       &:hover {
    //         background: #f0f0f0;
    //       }
    //     }
    //   }
  }
}
