<dialog class="price-history-dialog">
    <div class="dialog-close">
        <div class="dialog-close__btn">
            &#10006;
        </div>
    </div>
    <div class="price-history-dialog__container">
        <div class="price-history-modal">
            <div class="price-history-modal__content">
                </div class="price-history-modal__price"></div>
                </div class="price-history-modal__range"></div>
                <canvas class="price-history-modal__canvas"></canvas>
                {{!-- <div class="price-history-modal__header">
                    <div class="price-history-modal__text">
                        <div class="price-history-dialog__text-to-change">Товар добавлен в корзину</div>
                        <div class="price-history-modal__subtext">
                            <div>Перейти в корзину?</div>
                        </div>
                    </div>
                </div>
                <div class="price-history-modal__buttons">
                    <div class="price-history-modal__button price-history-modal__button--action">
                        В&nbsp;корзину
                    </div>
                    <div class="price-history-modal__button price-history-modal__button--cancel">
                        <div>Отмена</div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</dialog>
