.cart-block {
  max-width: 870px;
  width: calc(90vw - 300px);
  position: relative;
  background: white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
}

@media (max-width: 800px) {
  .cart-block {
    width: 90vw;

    &__icons {
      justify-content: flex-end;
      flex-direction: column-reverse !important;
    }

    &__item-info {
      justify-content: flex-end;
      flex-direction: column-reverse !important;
    }

    &__item-description {
      flex-grow: 0 !important;
    }

    &__item-price {
      flex-grow: 0 !important;
    }
  }
}

.cart-block__item-info {
  display: flex;
  flex-grow: 1;
}

.cart-block__item {
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cart-block__item-header {
  left: 25px;
  top: 24px;
}

.cart-block__item-image {
  width: 106px;
  height: 110px;
  margin: 0px 20px 0px 10px;
  border-radius: 12px;
  object-fit: cover;
}

.cart-block__item-description {
  color: black;
  font-size: 14px;
  flex-grow: 1;
  font-weight: 400;
  line-height: 20.63px;
  word-wrap: break-word;
}

.cart-block__item-price {
  color: #222222;
  font-size: 18px;
  flex-grow: 1;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}
.cart-block__icons {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 30px;
}

/* Стили для иконки удаления */
.cart-block__item-delete-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
}

/* Стили для иконки сообщения */
.cart-block__item-message-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  opacity: 0.4;
}

/* Стили для иконки лайка */
.cart-block__item-like-icon {
  width: 18px;
  height: 16px;
  padding: 5px;
  padding-top: 6px;

  .like-heart {
    height: 18px;
    width: 20px;

    svg {
      height: 18px;
      width: 20px;
    }
  }
}

svg:hover {
  color: red;
}

/* Стили для чекбоксов */
.cart-block__item-checkbox {
  width: 20px;
  height: 20px;
}

/* Первый чекбокс */
.cart-block__item-checkbox:first-child {
  left: 0px;
  top: 24px;
}

/* Второй чекбокс */
.cart-block__item-checkbox:last-child {
  left: 0px;
  top: 56px;
}
