.city-edit-dialog {
  dialog {
    border: none;
    overflow: visible;
    border-radius: 8px;
  }

  .city-edit-dialog__container {
    width: 360px;
    height: auto;
  }

  .city-modal {
    padding: 0;
    position: relative;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .city-modal__content {
    padding: 6px;
  }

  .city-modal__header {
    color: #333333;
    width: 360px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }

  .city-modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }

  .city-action-button:hover {
    background: #7b9afe;
  }

  .city-cancel-button:hover {
    background: #f0f0f0;
  }

  .city-modal__text,
  .submit-btn {
    margin-top: 16px;
    width: 338px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(219, 218, 218);
    height: 40px;
  }

  .submit-btn {
    background: #7092fe;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    color: white;
    width: 100%;
  }

  .city-modal__avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 20px auto;
  }

  .city-modal__avatar-upload .avatar__edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }

  .city-modal__avatar-upload .avatar__edit input {
    display: none;
  }

  .city-modal__avatar-upload .avatar__edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .city-modal__avatar-upload .avatar__edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .city-modal__avatar-upload .avatar__edit input + label:after {
    content: '\f040';
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  .city-modal__avatar-upload .avatar__preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .city-modal__avatar-upload .avatar__preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .error {
    color: red;
    margin-top: 15px;
    font-size: 14px;
  }

  .dropdown-with-search {
    margin: 16px 0;
    width: 338px;
    padding: 5px 10px;
    height: auto;
    overflow: visible;
  }
}

.dialog-close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -10px;
  top: -10px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.13);
  display: flex;
}

.dialog-close__btn {
  font-size: 24px;
  line-height: 32px;
  margin: auto;
  font-weight: lighter;
}

.dialog-close:hover {
  cursor: pointer;
}
