<dialog class="city-edit-dialog">
    <div class="dialog-close">
        <div class="dialog-close__btn">
            &#10006;
        </div>
    </div>
    <div class="city-edit-dialog__container">
        <div class="city-modal">
            <form class="city-modal__content">
                <div class="city-modal__header">
                    Город
                </div>
                <div class="city-modal__ddws"></div>    
                <input class="submit-btn submit-btn__city" type="submit" value="Сохранить">
                <div class="error"></div>
                {{!-- <input type="hidden" name="CSRFToken" value="{{CSRFToken}}"> --}}
            </form>
        </div>
    </div>
</dialog>
