.container {
    width: auto;
    height: auto;
}

.modal {
    padding: 0;
    position: relative;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.header-text {
    color: #333333;
    width: 360px;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}

.header-subtext {
    color: #858585;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.common-button-blacklist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 58.64px;
    border-radius: 8px;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.action-button-blacklist {
    background: #7092FE;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    color: white;
}

.action-button-blacklist:hover {
    background: #7b9afe;
}

.cancel-button-blacklist {
    background: #EBEBEB;
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.02);
    color: #333333;
}

.cancel-button-blacklist:hover {
    background: #f0f0f0;
}

.close-icon {
    width: 32px;
    height: 32px;
    padding-top: 9px;
    padding-bottom: 7.96px;
    padding-left: 8px;
    padding-right: 8.96px;
    left: 380px;
    top: -5px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.13);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.line {
    position: absolute;
    width: 21.26px;
    height: 0px;
    border: 1px #858585 solid;
}

.line1 {
    left: 15px;
    top: 31px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

.line2 {
    left: 16px;
    top: 16px;
    transform: rotate(45deg);
    transform-origin: 0 0;
}

#myDialog {
    width: 420px;
    height: 250px;
    z-index: 5;
    padding: 0;
}

::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}

dialog {
    border: none;
    overflow: visible;
    border-radius: 8px;
}

.modal-fields {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    font-family: "Roboto", Open Sans;
    font-size: 16px;
}