header {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
}

.pre-header {
    max-width: 1219px;
    height: 32px;
    background: white;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.internal-div {
    flex: 1 1 0;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 833px;
}

.section-nav {
    flex: 1 1 0;
    height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.location-label {
    width: 113px;
    height: 15px;
    color: #858585;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 15.96px;
    letter-spacing: 0.20px;
    word-wrap: break-word;
}

.location-value {
    display: flex;
    gap: 2px;
}

.location-icon,
.like-icon,
.cart-icon {
    width: 16px;
    height: 16px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-name,
.like-text,
.cart-text {
    color: #333333;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 400;
    text-decoration: underline;
    line-height: 16px;
    letter-spacing: 0.20px;
    word-wrap: break-word;
}

.section-nav-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

.like-action {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.cart-action {
    display: flex;
    flex-direction: row;
    gap: 5px;
}



/* ---------- */

*:focus {
    outline: none;
}

.navbar {
    width: 1219px;
    max-height: fit-content;
    font-family: Open Sans;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .name {
    font-size: 23px;
    font-weight: 800;
    padding: 14px 2px;
    margin-right: 16px;
    margin-left: 8px;
}

.navbar a {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    color: black;
}

.navbar .btn-success {
    max-width: fit-content;
    border-radius: 8px;
    padding: 10px 16px;
    background-color: #B9E28C;
    color: rgb(0, 0, 0);
    margin-left: 16px;
}

.navbar .btn-secondary {
    max-width: fit-content;
    border-radius: 8px;
    padding: 10px 16px;
    background-color: rgba(235, 235, 235, 1);
    color: rgba(51, 51, 51, 1);
    margin-left: 16px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 10px 16px;
    background-color: rgba(115, 146, 190, 1);
    color: white;
    font-family: inherit;
    margin: 0 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-right {
    transform: translate3d(-70%, 0, 0);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    border: solid 1px rgba(235, 235, 235, 1);
}

.navbar .search i {
    font-weight: normal;
    font-size: 24px;
    padding: 8px;
}

.navbar .search input[type=text] {
    flex-grow: 1;
    padding: 6px;
    font-size: 17px;
    border: none;
}

.navbar .search button {
    width: 20%;
    padding: 10px;
    background: rgba(235, 235, 235, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 32px;
}