<div class="navbar">
    <img class="logo" src="vol4ok.svg">	
    <a class="name">ВОЛЧОК</a>
	
    <div class="dropdown">
        <button class="dropbtn">
            <i class="fa fa-list-ul"></i>
	    Категории
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <form class="search">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск по объявлениям" name="search">
	<button type="submit">Найти</button>
    </form>
    <a class="btn-primary" href="#" >Разместить объявление</a>
    {{#if flag}}
        <div class="dropdown">
            <img class="profile-icon" src="img_avatar.png">
            <div class="dropdown-content dropdown-content-right">
                <a href="#">Профиль</a>
                <a href="#" class="logout">Выйти</a>
            </div>
        </div>
    {{^}}
        <a class="btn-secondary" href="{{urlLogin}}" data-url="{{urlLogin}}">Войти</a>
    {{/if}}
</div> 
